{% extends "base.html" %}
{% block content %}
		<h1>List of Schedule Entries.</h1>
		<table id="list-view">
			<thead>
				<tr>
					<td><b>ID</td>
					<td><b>Name</b></td>
					<td><b>Subject_Id</b></td>
					<td><b>Student_Id</b></td>
					<td><b>Teacher_Id</b></td>
					<td><b> </td>
					<td><b> </td>
				</tr>
			</thead>
			{% if schedule_entries %}
			<tbody>
			{% for entry in schedule_entries %}
				<tr>
					<td><a href="/schedule/{{ entry.id }}">{{ entry.id }}</a></td>
					<td>{{ entry.name }}</td>
					<td>{{ entry.subject }}</td>
					<td>{{ entry.student }}</td>
					<td>{{ entry.teacher }}</td>
					<td><a href="/schedule/edit/{{ entry.id }}">Edit</a></td>
					<td><a id="delete-link" data-callback="/schedule/" data-url="/schedule/{{ entry.id }}">Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			{% else %}
		</table>
		You have no entries yet
			{% endif %}
			<br/><br/><b><a id="actions" href="/schedule/add">Add new entry</a></b>
{% endblock %}
