{% extends "base.html" %}
{% block content %}
		<h1>List of Student Entries.</h1>
		<table id="list-view">
			<thead>
				<tr>
					<td><b>ID</td>
					<td><b>Name</b></td>
					<td><b>Username</b></td>
					<td><b>Email</b></td>
					<td><b> </td>
					<td><b> </td>
				</tr>
			</thead>
			{% if student_entries %}
			<tbody>
			{% for entry in student_entries %}
				<tr>
					<td><a href="/student/{{ entry.id }}">{{ entry.id }}</a></td>
					<td>{{ entry.name }}</td>
					<td>{{ entry.username }}</td>
					<td>{{ entry.email }}</td>
					<td><a href="/student/edit/{{ entry.id }}">Edit</a></td>
					<td><a class="delete-link" data-callback="/student/" data-url="/student/{{ entry.id }}">Delete</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
			{% else %}
		</table>
		You have no entries yet
			{% endif %}
			<br/><br/><b><a id="actions" href="/student/add">Add new entry</a></b>
{% endblock %}
